.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

input.ng-dirty.ng-valid {
  border-color: green;
  box-shadow: 0 0 2px green; }

input.ng-dirty.ng-invalid {
  border-color: red;
  box-shadow: 0 0 2px red; }
