<div class="row">
    <div class="col-md-4 col-xs-12 loop-item" ng-repeat="item in articles">
        <h3>{{item.title}}</h3>
        <h6>Created {{item.modified | date: 'MMM d, y' }} by {{item.author}}</h6>
        <p>{{item.description}}</p>
    </div>
</div>
