<h1>Create: {{article.title}}</h1>

<form role="form" name="ProductForm" ng-submit="formSubmit(ProductForm)">

    <p ng-class="{'text-success': showMsg.success, 'text-danger': !showMsg.success}" ng-show="showMsg.msg">{{showMsg.msg}}</p>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" ng-model="article.title" required pattern="^[a-zA-Z0-9 ]+$">
        <p class="text-danger" ng-show="ProductForm.title.$invalid && !ProductForm.title.$pristine">Name is required</p>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" ng-model="article.description" required></textarea>
        <p class="text-danger" ng-show="ProductForm.description.$invalid && !ProductForm.description.$pristine">Description is required</p>
    </div>
    <input type="submit" value="Submit" class="btn btn-default" ng-disabled="ProductForm.$invalid">
</form>