<form role="form" ng-submit="formSubmit">
    <button ng-click="getUser()" class="btn btn-primary">Get User</button>
    <div class="form-group">
        <label>Name: <input ng-model="user.name" type="text" class="form-control" /></label>
    </div>
    <div class="form-group">
        <label>Email: <input ng-model="user.email" type="email" class="form-control" /></label>
    </div>
    <div class="form-group">
        <button ng-click="postUser()" class="btn btn-success">Post User</button>
    </div>
</form>