
<div ng-include="'tpl/form.html'"></div>

<div class="form-group">
    <p><label>Value: <input type="text" ng-model="value"/></label></p>
    <p>{{value | round:2 | dollar}}</p>
</div>

<div class="form-group">
    <label><input type="text" ng-model="factor"/> {{product}}</label>
</div>

<div class="form-group">
    <label>Favorite word: <input type="text" ng-model="pisun"/></label>
    <p ng-class="{
                bold: isBold(),
                italic: isItalic(),
                underline: isUnderlined()
            }">{{pisun}}</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in products"
        ng-class="{'is-first' : $first,'is-middle' : $middle,'is-last' : $last,'is-even' : $even}">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
    </tr>
    </tbody>
</table>

<div class="form-group">
    <label><input type="checkbox" ng-model="isFirstElementVisible"/> Is first element visible</label>
    <label><input type="checkbox" ng-model="isSecondElementVisible"/> Is second element visible</label>
    <div ng-show="isFirstElementVisible">First Element</div>
    <div ng-if="isSecondElementVisible">Second Element</div>
</div>

<div class="form-group">
    Favorite color:
    <label><input type="radio" name="fc" value="Red" ng-model="favoriteColor">Red</label>
    <label><input type="radio" name="fc" value="Green" ng-model="favoriteColor">Green</label>
    <label><input type="radio" name="fc" value="Yellow" ng-model="favoriteColor">Yellow</label>
    <label><input type="radio" name="fc" value="Blue" ng-model="favoriteColor">Blue</label>
    - {{favoriteColor}}
</div>
<div class="form-group">
    Favorite shape:
    <label><select ng-model="favoriteShape">
        <option value="Circle">Circle</option>
        <option value="Triangle">Triangle</option>
        <option value="Square">Square</option>
    </select></label>
    - {{favoriteShape}}
</div>